# -*- python -*-
# ex: set syntax=python:

# This is a sample buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}

####### BUILDSLAVES

# The 'slaves' list defines the set of recognized buildslaves. Each element is
# a BuildSlave object, specifying a unique slave name and password.  The same
# slave name and password must be configured on the slave.
from buildbot.buildslave import BuildSlave
c['slaves'] = [BuildSlave("static-slave1", "{{ buildslave_pw }}"),BuildSlave("static-slave2", "{{ buildslave_pw }}")]

# 'slavePortnum' defines the TCP port to listen on for connections from slaves.
# This must match the value configured into the buildslaves (with their
# --master option)
c['slavePortnum'] = {{ buildslave_port }}

####### CHANGESOURCES

# the 'change_source' setting tells the buildmaster how it should find out
# about source code changes.  Here we point to the buildbot clone of pyflakes.

#from buildbot.changes.gitpoller import GitPoller
#c['change_source'] = []
#c['change_source'].append(GitPoller(
#        'gitolite3@localhost:exampletrigger',
#        workdir='gitpoller-workdir', branch='master',
#        pollinterval=300))

#c['change_source'].append(GitPoller(
#        'git://github.com/buildbot/pyflakes.git',
#        workdir='gitpoller-workdir', branch='master',
#        pollinterval=300))
####### SCHEDULERS

# Configure the Schedulers, which decide how to react to incoming changes.  In this
# case, just kick off a 'runtests' build

from buildbot.schedulers.basic import SingleBranchScheduler
from buildbot.schedulers.forcesched import ForceScheduler, StringParameter
from buildbot.changes import filter
c['schedulers'] = []
c['schedulers'].append(SingleBranchScheduler(
                            name="all",
                            change_filter=filter.ChangeFilter(branch='master'),
                            treeStableTimer=None,
                            builderNames=["statictasks"]))
c['schedulers'].append(ForceScheduler(
                            name="force",
                            builderNames=["statictasks"]))
c['schedulers'].append(ForceScheduler(
                            name="rpmcheck",
                            builderNames=["statictasks"],
                            properties=[
                            StringParameter(name='checkname',
                                            label='name of check to run',
                                            default='',
                                            size=256),
                            StringParameter(name='envr',
                                            label='envr of package to test',
                                            default='',
                                            size=256),
                            StringParameter(name='arch',
                                            label='arch of rpm to test',
                                            default='x86_64',
                                            size=128)]))

####### BUILDERS

# The 'builders' list defines the Builders, which tell Buildbot how to perform a build:
# what steps, and which slaves can execute them.  Note that any particular build will
# only take place on one slave.

from buildbot.process.factory import BuildFactory
from buildbot.steps.source.git import Git
from buildbot.steps.shell import ShellCommand
from buildbot.process.properties import Property, Interpolate

class ReportingStep(ShellCommand):
    def __init__(self, **kwargs):
        super(ReportingStep, self).__init__(self, **kwargs)

    def commandComplete(self, cmd):
        print "I'm reporting stuff for job number %s" % str(self.build.build.number)

class TaskGit(Git):
    name = 'taskgit'
    renderables = ["repourl", "checkname"]

    def __init__(self, **kwargs):
        repourl = kwargs.pop('repourl')
        self.checkname = kwargs.pop('checkname')
        print "checkname stuff: %s" % str(dir(self.checkname))
        full_repourl = '%s/%s' % (repourl, self.checkname)
        kwargs['repourl'] = repourl
        super(TaskGit, self).__init__(**kwargs)

factory = BuildFactory()

# check out the source
#factory.addStep(Git(repourl=Interpolate('http://taskbot.tirfa.net/taskgit/%(prop:checkname)s'), mode='full', method='clobber'))
factory.addStep(Git(repourl=Interpolate('gitolite3@taskbot.tirfa.net:%(prop:checkname)s'), mode='full', method='clobber'))

# run the tests (note that this will require that 'trial' is installed)
factory.addStep(ShellCommand(command=["sh", "prepare"]))

# run the tests (note that this will require that 'trial' is installed)
factory.addStep(ShellCommand(command=["python", "runtest.py", Property('buildnumber'), Property('envr'), Property('arch')]))

# run the tests (note that this will require that 'trial' is installed)
factory.addStep(ShellCommand(command=["sh", "cleanup"]))

# stupid example test reporter
#factory.addStep(ReportingStep(command=["sh", "report"]))


from buildbot.config import BuilderConfig

c['builders'] = []
c['builders'].append(
    BuilderConfig(name="statictasks",
      slavenames=["static-slave1", "static-slave2"],
      factory=factory))

####### STATUS TARGETS

# 'status' is a list of Status Targets. The results of each build will be
# pushed to these targets. buildbot/status/*.py has a variety to choose from,
# including web pages, email senders, and IRC bots.

c['status'] = []

from buildbot.status import html
from buildbot.status.web import authz, auth

authz_cfg=authz.Authz(
    # change any of these to True to enable; see the manual for more
    # options
    auth=auth.BasicAuth([("{{ buildbot_user }}","{{ buildbot_pw }}")]),
    gracefulShutdown = False,
    forceBuild = 'auth', # use this to test your slave once it is set up
    forceAllBuilds = False,
    pingBuilder = False,
    stopBuild = False,
    stopAllBuilds = False,
    cancelPendingBuild = False,
)
c['status'].append(html.WebStatus(http_port=8010, authz=authz_cfg))

#from buildbot.status.mail import MailNotifier
#
#mn = MailNotifier(fromaddr="yagisama@gmail.com",
#                  sendToInterestedUsers=False,
#                  extraRecipients=["goat@tirfa.com"],
#                  useTls=True, relayhost="smtp.gmail.com", smtpPort=587,
#                  smtpUser="yagisama", smtpPassword="Somehw3r",
#                  mode='all')
#
#c['status'].append(mn)

####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot
# installation's html.WebStatus home page (linked to the
# 'titleURL') and is embedded in the title of the waterfall HTML page.

c['title'] = "Taskbot Proof of Concept"
c['titleURL'] = "http://taskbot.tirfa.net"

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server (usually the html.WebStatus page) is visible. This
# typically uses the port number set in the Waterfall 'status' entry, but
# with an externally-visible host name which the buildbot cannot figure out
# without some help.

c['buildbotURL'] = "http://taskbot.tirfa.net/taskmaster/"

####### DB URL

c['db'] = {
    # This specifies what database buildbot uses to store its state.  You can leave
    # this at its default for all but the largest installations.
    'db_url' : "sqlite:///state.sqlite",
}
