admin@qadevel.cloud.fedoraproject.org:{SSHA}6kdRDgw3Kqwvk74c8YZiRFTVPR7tBJEW:{{ mail_user_uid }}:{{ mail_user_gid }}::/var/vmail/tflink::userdb_quota_rule=\
*:storage=5G userdb_acl_groups=PublicMailboxAdmins
